#zonaPalabra{
    color: gray;
    text-align:center;
    font-size:150px;
    font-variant:small-caps;
    background-color: aquamarine;
    height: auto;
    width: max-content;
    margin: auto;
    border-radius: 15px;

    position:relative;
    animation-name:language;
    animation-duration:2.5s;
    animation-iteration-count: infinite;
}

/*esto hace que flote la palabra*/
@keyframes language{
    0%{
        bottom:0px;
        top:0px;
    }
    50%{
        top:10px;
    }
    75%{
        bottom:20px;
    }
    100%{
        bottom:0px;
        top:0px;
    }
}
#contador{
    margin-left:180px;
    font-family:cursive;
    font-size:50px;
    margin-top:50px;
    margin-left: 20vw;
}
body{
    justify-content: center;
    align-items: center;
}
.boton{
    margin-left: 20vw;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}